<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout :: common_header(~{::title},~{::link})">
<title>区域管理</title>
<!-- 
  additional css  -->
<link
	th:href="@{/ace/plugins/treeTable/themes/vsStyle/treeTable.min.css}"
	rel="stylesheet" type="text/css" />

</head>

<body>
	<div class="main-container">
		<div class="main-content-inner">
			<div class="page-content">

				<div class="row">
					<div class="col-sm-12">
						<div class="pull-left">
							<button class="btn btn-primary btn-sm" data-toggle="tooltip"
								data-placement="left" onclick="add()" title="添加">
								<i class="fa fa-plus"></i> 新建
							</button>
							<button class="btn btn-warning btn-sm" data-toggle="tooltip"
								data-placement="left" onclick="refresh()" title="添加">
								<i class="glyphicon glyphicon-repeat"></i>刷新
							</button>
						</div>
						<div class="pull-right"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<table id="treeTable"
							class="table table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th>区域名称</th>
									<th>区域编码</th>
									<th>区域类型</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="treeTableList">
								<tr th:each="area:${areaList}" th:id="${area.id}"
									th:pid="${area.parentId}">
									<td th:text="${area.name}"></td>
									<td th:text="${area.code}"></td>
									<td th:text="${area.type}"></td>
									<td th:text="${area.remarks}"></td>
									<td>
										 
												 
												 <a href="#"
													th:onclick="'edit('+${area.id}+')'"><i
														class="fa fa-edit"></i> 修改</a> 
														&nbsp;&nbsp;&nbsp;
												 <a
													onclick="return del(this, '70bea8684c4142f79e93544ec104ae54')"><i
														class="fa fa-trash"></i> 删除</a> 
														&nbsp;&nbsp;&nbsp;
												 <a href="#"
													onclick="jp.openDialog('添加下级区域', '/jeeplus/a/sys/area/form?parent.id=70bea8684c4142f79e93544ec104ae54','800px', '500px', $treeTable)"><i
														class="fa fa-plus"></i> 添加下级区域</a> 
										 
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<!-- /.col -->
			</div>

		</div>
		<!-- end main container -->
	</div>

	<div th:replace="common/commonJS"></div>
	<script th:src="@{/ace/plugins/treeTable/jquery.treeTable.min.js}"></script>
	<script th:src="@{/ace/plugins/mustache/mustache.min.js}"></script>

	<script type="text/template" id="treeTableTpl">
		<tr id="{{row.id}}" pId="{{pid}}">
			<td><a href="${ctx}/sys/office/form?id={{row.id}}">{{row.name}}</a></td>
			<td>{{row.area.name}}</td>
			<td>{{row.code}}</td>
			<td>{{dict.type}}</td>
			<td>{{row.remarks}}</td>
			 <td>
				<a href="${ctx}/sys/office/form?id={{row.id}}">修改</a>
				<a href="${ctx}/sys/office/delete?id={{row.id}}" onclick="return confirmx('要删除该机构及所有子机构项吗？', this.href)">删除</a>
				<a href="${ctx}/sys/office/form?parent.id={{row.id}}">添加下级机构</a> 
			</td> 
		</tr>
	</script>
	<script>
		 
		function refresh() {
			window.location.reload()
		}
		function add() {
			jp.openWindow("新增" + '区域', "sys/area/add", "800px", "360px");
		}

	 

		function edit(id) {
			 
			jp.openWindow("修改" + '区域', ctx + "sys/area/edit/" + id, "800px",
					"325px");

		}

		function del(ids) {
			//layer.confirm("确定要删除吗"){}
			var selectRows = $('#menutable').bootstrapTable('getSelections');
			if (selectRows.length == 0) {
				jp.alert("未选择任何行");

			} else {
				if (!ids) {
					ids = getIdSelections();
				}

				jp.confirm('确定要删除选择的用户吗？', function() {

					layer.alert(1);
					jp.loading();

					$.get(ctx + "sys/role/deleteAll?ids=" + ids,
							function(data) {
								if (data.success) {
									$('#menutable').bootstrapTable('refresh');
									jp.success(data.msg);
								} else {
									jp.error(data.msg);
								}
							})

				}

				);
			}
		}
		$(function() {

			$("#treeTable").treeTable({
				expandLevel : 5
			});
		});
	</script>
</body>
</html>