<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="common/layout :: common_header(~{::title},~{::link})">
<title>修改菜单</title>
</head>
<body>
	<div class="main-container">
		<div class="main-content-inner">
			<div class="page-content">

				<form class="form-horizontal" role="form" id="areaAddForm"
					method="post" th:action="@{/sys/area/save}">
					<input type="hidden" name="id" th:value="${sysArea.id}">
					<input id="p_areaId" name="parentId"   type="hidden" th:value="${sysArea.parentId}"/>
					<table
						class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
						<tr>
							<td class="width-15 active"><label class=" control-label"
								for="ds_parentId">上级区域</label></td>
							<td class="width-35">
								<div class="input-group" style="width: 100%">
									<input class="form-control" id="ds_parentId" name="parentName"
										type="text" th:value="${sysArea.parentName}" readonly="readonly"/> <span
										class="input-group-btn">
										<button type="button" id="areaButton"
											class="btn   btn-primary  ">
											<i class="fa fa-search"></i>
										</button>
										 <button type="button" id="areaDelButton" class="close" data-dismiss="alert" style="position: absolute; top: 5px; right: 53px; z-index: 999; display: block;">×</button>
									</span>
								</div>
							</td>

							<td class="width-15 active"><label class="  control-label"
								for="ds_name">区域名称</label></td>
							<td class="width-35"><input class="form-control"
								id="ds_name" name="name" type="text" th:value="${sysArea.name}"
								required /></td>
						</tr>
						<tr>
							<td class="width-15 active"><label class="  control-label"
								for="ds_code">*区域编码:</label></td>
							<td class="width-35"><input class="form-control"
								id="ds_code" name="code" type="text" th:value="${sysArea.code}"
								required /></td>
							<td class="width-15 active"><label class="  control-label"
								for="ds_type">区域类型</label></td>
							<td class="width-35"><input class="form-control"
								id="ds_type" name="type" type="text" th:value="${sysArea.type}" />
							</td>
						</tr>
						<tr>
							<td class="width-15 active"><label class="  control-label"
								for="ds_remarks">备注</label></td>
							<td class="width-35"><textarea class="form-control"
									id="ds_remarks" name="remarks" th:value="${sysArea.remarks}"></textarea>
							</td>
						</tr>
					</table>


					<div class="clearfix ">
						<div class="center">
							<button class="btn btn-info" type="submit" id="submitBtn">
								<i class="ace-icon fa fa-check bigger-110"></i> 保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="button" id="closeWin">
								<i class="ace-icon fa fa-del bigger-110"></i> 关闭
							</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.col -->
		</div>

	</div>
	<!-- end main container -->


	<div th:replace="common/commonJS"></div>
	<script type="text/javascript">
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		//关闭iframe
		$('#closeWin').click(function() {
			top.layer.close(index);
		});

		$().ready(function() {
			$("#userAddForm").validate({
				submitHandler : function(form) {
					//验证通过后 的js代码写在这里 

					$(form).ajaxSubmit({
						dataType : "json",
						success : function(data) {
							if (data == 1) {
								top.layer.alert('保存成功')
								top.layer.close(index);
								top.getActiveTab()[0].contentWindow.search();
							} else {
								top.layer.alert('保存失败')
							}

						},
						error : function(xhr, status, error) {
							top.layer.alert('操作失败');
						}
					});

				}
			});
		});
	</script>
</body>
</html>