<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="common/layout :: common_header(~{::title},~{::link})">
<title>个人设置</title>
<link rel="stylesheet" th:href="@{/ace/plugins/chosen/chosen.min.css}" />
</head>
<body>
	<div class="main-container">
		<div class="main-content-inner">
			<div class="page-content">
				<div class="page-header">
					<h1>
						个人信息查看 <small> </small>
					</h1>
				</div>

				<div id="home">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture"> <img id="avatar"
								onclick="fileSelect();" class="" alt="头像"
								th:src="(${user.photo=='0'})?(@{/ace/avatars/profile-pic.jpg}):(@{/sys/showFile/}+${user.photo})"
								style="display: block;">
							</span>
							<div class="space space-4"></div>
							<a href="#" class="btn btn-sm btn-block btn-success"> <i
								class="ace-icon fa fa-plus-circle bigger-120"></i> <span
								class="bigger-110">修改头像</span>
							</a>

						</div>
						<!-- /.col -->

						<div class="col-xs-12 col-sm-9">
							<h4 class="blue">
								<span class="middle" th:text="${user.name}">Alex M. Doe</span>
							</h4>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name">登录名</div>

									<div class="profile-info-value">
										<span th:text="${user.loginName}">alexdoe</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">工号</div>

									<div class="profile-info-value">
										<span th:text="${user.no}">alexdoe</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">所属公司</div>

									<div class="profile-info-value">
										<span th:text="${user.companyName}">Netherlands</span>

									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">所属部门</div>

									<div class="profile-info-value">
										<span th:text="${user.officeName}">Netherlands</span>

									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">手机号码</div>

									<div class="profile-info-value">
										<span th:text="${user.phone}">138</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">邮箱</div>

									<div class="profile-info-value">
										<span th:text="${user.email}">2010/06/20</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">最后登录时间</div>

									<div class="profile-info-value">
										<span
											th:text="${#dates.format(user.loginDate,'yyyy-MM-dd HH:mm:ss')}">3
											hours ago</span>
									</div>
								</div>
							</div>

							<div class="hr hr-8 dotted"></div>


						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- end page-content -->
			</div>
		</div>

	</div>
	<div th:replace="common/commonJS"></div>
</body>
</html>